{{#with controller}}
  <div>ID: {{id}}</div>
  <div>NAME:   {{name}}</div>
  <div>PARENT:  <a {{action showNode parent.id}}>{{parent.name}}</a> </div>
  <div>CHILD NODES: 
    {{#each child in childNodes}}
      <div>
        <a {{action showNode child.id}}>{{child.name}}</a>
      </div>
    {{/each}}
  </div>
  <div>CHILD STATES: 
    {{#each child in childStates}}
      <div>
        <a>{{child.name}}</a>
      </div>
    {{/each}}
  </div>
{{/with}}
